<div id="<%= dom_id listing %>">

  <div>
    <% if listing.cover.attached? %>
    <%= image_tag listing.cover, alt: listing.title, class: "img-fluid", width:"250", height:"250"  %>
    <% else %>
    <%= image_tag "cover_fallback.svg", alt: listing.title, class: "img-fluid", width:"250", height:"250"  %>
    <% end %>
  </div>

    <br>

  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= listing.artist %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= listing.label %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= listing.condition %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= listing.price %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= listing.genre.name %>
  </p>

</div>
