<p id="notice"><%= notice %></p>

  <div class="text-black px-1 py-1 text-center">
    <div class="py-5">
      <h4 class="fw-bold">Welcome to the</h4>
      <h1 class="display-5 fw-bold">Record Market</h1>
      <div class="col-lg-6 mx-auto">
      <br>
        <p class="fs-5 mb-4">Find the record you have spent years digging for, or come across an unexepcted gem!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <%= link_to 'Sell your Records', new_listing_path, class:"btn btn-lg btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-md-6 col-xl-4 col-xxl-3 g-4">
      
      <div class="card">
        <% if listing.cover.attached? %>
        <%= image_tag listing.cover, alt: listing.title, class:"card-img-top ratio ratio-1x1", width:"auto", height:"auto"  %>
        <% else %>
        <%= image_tag "cover_fallback.svg", alt: listing.title, class:"card-img-top ratio ratio-1x1", width:"auto", height:"auto"  %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%=listing.title%></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%=listing.artist%></h6>
            <p class="card-text mt-2">
              <strong>Genre:</strong>
              <%= listing.genre.name %>
            </p>
            
            <p class="card-text mt-2 text-center"><%=listing.description %></p>
            
             <hr class="my-4">
            
            

            <div class="d-grid gap-2 d-md-flex justify-content-between align-items-baseline">
            <p class="badge text-bg-secondary text-wrap">Seller: <%= listing.user.username %></p>
            <%=link_to "Buy Now - $#{listing.price}", listing, class: "btn btn-success"%>
            </div>
            
        </div>
      </div>
         
    </div>
   <% end %>
  </div>
  <br>

</div>

