<h1 class="text-center"><%= pluralize(@listings.count, "Result") %></h1>
<%= render 'search/form' %>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
      <th><%= sort_link(@query, :artist, "Artist", default_order: :desc) %></th>
      <th><%= sort_link(@query, :label, "Label", default_order: :desc) %></th>
      <th><%= sort_link(@query, :price, "Price", default_order: :desc) %></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= listing.artist %></td>
        <td><%= listing.label %></td>
        <td><%= "$#{listing.price}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Browse', browse_path, class:"btn btn-secondary" %>