<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <%= link_to "Marketplace", root_path, class: 'navbar-brand'%>
      <%= image_tag "vinyl-fill.svg", style: 'width:35px; height:35px', class: 'd-inline-block align-text-top' %>
      <%# <img src="vinyl-fill.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> %>
    </a>
  <%# <%= image_tag "vinyl-fill.svg", style: 'width:16; height:16' %>
    <%# <%= link_to "Marketplace", root_path, class: 'navbar-brand'%>
        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'nav-link active'%>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: 'nav-link'%>
        </li>

      </ul>
      <ul class ="navbar-nav">
        <%= render 'user/session_manager' %>
      </ul>
    </div>
  </div>
</nav>