<!DOCTYPE html>
<html>
  <head>
    <title>Record Market</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap 5.0.2 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> --> 
    <!-- Bootstrap 5.2.0 Beta -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>
  <body style="padding-bottom: 70px;">
    <header>
      <%= render 'layouts/navbar'%>
      <%= render 'layouts/alerts'%>
    </header>
    <main>
    <div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= yield %>
            <% if Rails.env.development? %>
        <% console %>
      <% end %>
    </div>
  </div>
</div>

      

    </main>
  </body>
  <footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">&copy; Copyright 2022 David Oliverius</span>
  </div>
</footer>
</html>
